
.main-content{
    height: 900px;
    border-radius: 10px;
    background-color: rgb(241, 239, 239);
    padding: 15px;
    margin: 20px;
    
}
.row {
    display: flex;
    padding: 20px;
   /* Cách thức căn chỉnh: có thể là space-between hoặc các cách thức khác tùy thuộc vào thiết kế */
  }
  /* StoryDetail.css */
.heroSide {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(179, 177, 175);
    border: 2px;
    border-radius: 10px;
  }

.img{
    width: 310px;
    height: 480px;
    margin-top: 20px; 
}
.heroSide__main{
    margin-left: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
}  
 .heroSide__main__info  {
  display: flex;
 }
 .box {
    margin-right: 10px;
    width: 100px; 
    height: 30px;
    text-align: center;
    border-radius: 5px;
   ;/* Thêm margin phải */
}
.box:last-child {
    margin-right: 0; /* Loại bỏ margin của phần tử cuối cùng */
}
.heroSide__main__description{
    padding-left: 20px;
    padding-right: 20px;

}
.heroSide__main__info li {
   
    font-weight: bold;
    background-color: rgb(224, 213, 213);
    border-radius: 5px; 
    padding: 5px;/* Loại bỏ kí hiệu của list */
  }
  li{
    list-style: none;
    font-size: 20px;

  }
  .heroSide__main__statistic li{
    padding-right: 20px;
  }
 
  .heroSide__main__rate-wrap  {
    padding: 40px;

  }
  .title button{
    margin: 30px;
    position:absolute;
    background-color: gray;
    right: 100px;
  }
  button:hover{
    color:rgb(247, 244, 244);
    background-color:rgb(28, 28, 25);
}
h2 {
  margin-left: 60px;
}
