.listchapter{
      margin: '15px 0px';
      background-color: black;
      
}
.text-overflow-1-lines {
    font-size: '16px' !important;
    margin-Bottom:'5px'!important; // Adjust the spacing between chapters as needed
    display: 'block';
    text-decoration: 'none';
    color: 'inherit'}
   